In [9]:
import pandas as pd

class Compute:
  def __init__(self) -> None:
    self.assets = 0
  
  def import_data(self):
    self.df = pd.read_csv("assets.csv")

  def simulate(self):
    prev_score = 0

In [12]:
c = Compute()
c.import_data()

c.df

prev = 0
for day in c.df:
  if(day.score_btc > prev || day.score_gold > prev):
    #We want to buy
    if(day.score_btc > day.score_gold):
      #buy btc
      
    else:
      #buy gold
      pass

,date,bitcoin,rsi_btc,mean_rsi_btc,sd_rsi_btc,gold,rsi_gold,mean_rsi_gold,sd_rsi_gold,score_btc,score_gold
0,2016-09-11,621.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-09-12,609.67,NaN,NaN,NaN,1324.60,NaN,NaN,NaN,NaN,NaN
2,2016-09-13,610.92,NaN,NaN,NaN,1323.65,NaN,NaN,NaN,NaN,NaN
3,2016-09-14,608.82,NaN,NaN,NaN,1321.75,NaN,NaN,NaN,NaN,NaN
4,2016-09-15,610.38,NaN,NaN,NaN,1310.80,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1821,2021-09-06,51769.06,72.393665,63.083180,8.790067,1821.60,66.393456,50.978427,13.929019,1.059205,1.106684
1822,2021-09-07,52677.40,75.839170,63.244330,8.984233,1802.15,49.298759,51.749178,12.237656,1.401883,-0.200236
1823,2021-09-08,46809.17,39.287589,61.911113,9.573320,1786.00,39.543982,53.052257,10.096123,-2.363185,-1.337967
1824,2021-09-09,46078.38,36.742984,60.685121,10.433705,1788.25,41.407698,54.014448,9.326964,-2.294692,-1.351646
1825,2021-09-10,46368.69,38.566818,59.521679,10.959417,1794.60,46.753026,54.432074,8.395230,-1.912042,-0.914692